<% if !flash[:notice].nil? %>
<div class="alert alert-success" role="alert"><p id="notice"><%= notice %></p></div>
<% end %>

<h1>Genre <%= @genre.name %> </h1>

<h2>Movies</h2>
<table class ="table table-condensed table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Seen</th>
    </tr>
  </thead>

  <tbody>
    <% @genre.videos.each do |video| %>
      <tr>
        <td><%= video.name %></td>
        <td><% if video.seen %>
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <%else %>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <% end %>
       </td>
  </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
