<%= render "layouts/successdiv" %>

<h1>Genre
    <%= @genre.name %>
</h1>

<h2>Movies</h2>
<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Seen</th>
        </tr>
    </thead>

    <tbody>
        <% @genre.videos.each do |video| %>
        <tr>
            <td><%= link_to video.name, video_path(video.id) %></td>
            <td><%= icon_right_wrong(video.seen) %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Edit', edit_genre_path(@genre) %>
|
<%= link_to 'Back', genres_path %>
