<%= bootstrap_form_for(@season) do |f| %>
<%= render 'layouts/errordiv', entity: @season, name:"season" %>

<div class="field">
    <h4>Series:
        <%=@season.series.name%></h4>
    <%= f.hidden_field :series, :value => @season.series.id%>
</div>
<div class="field">
    <%= f.number_field :number ,label: "Season number", in: 1...100%>
</div>
<div class="actions">
    <%= f.submit %>
</div><br><br>
<% end %>
