<%= bootstrap_form_for(@actor) do |f| %>
<%= render 'layouts/errordiv', entity: @actor, name:"actor" %>

<div class="field">
    <%= f.text_field :name %>
</div>
<div class="field">
    <%= f.file_field :cover %>
</div>
<div class="actions">
    <%= f.submit %>
</div><br><br>
<% end %>
