<%= render "layouts/successdiv" %>
<h1><%= @actor.name %></h1>

<% if !@actor.cover.nil? && @actor.cover.to_s.length > 0 %>
<%= image_tag @actor.cover, height: "400" %>
<%end%>
<br>
<%= link_to 'Edit', edit_actor_path(@actor) %>
|
<%= link_to 'Back', actors_path %>
