<%= form_for(@platform) do |f| %>
<%= render 'layouts/errordiv', entity: @platform, name:"platform" %>

<div class="field">
    <%= f.label :name %><br>
    <%= f.select :name, options_for_select(platform_options) %>
</div>
<div class="field">
    <%= f.label :borrowed %><br>
    <%= f.check_box :borrowed %>
</div>
<div class="field">
    <%= f.label :borrowedDate %><br>
    <%= f.datetime_select :borrowedDate %>
</div>
<br>
<div class="actions">
    <%= f.submit %>
</div>
<br>
<% end %>
