<p id="notice"><%= notice %></p>

<h1>Platforms</h1>

<table class ="table table-condensed table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th> # Movies </th>
      <th> # Borrowed </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @platforms.each do |platform| %>
      <% if Platform.where(:name => platform[:name]).size > 0 %>
      <% @rows = Platform.where(:name => platform[:name]) %>
        <tr>
          <td><%= platform[:name] %></td>
          <td><%= @rows.size %></td>
          <td><%= @rows.where(:borrowed => true).size %>
          <td><%= link_to '<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>'.html_safe, platforms_path() + "?pname=" + platform[:name]  %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Platform', new_platform_path %>
