<p id="notice"><%= notice %></p>

<% if !@platform.video.nil? %>
<p>
  <strong>VideoName:</strong>
    <%= platform.video.name %>
</p>
<% end %>

<p>
  <strong>Borrowed:</strong>
  <%= @platform.borrowed %>
</p>

<p>
  <strong>Borroweddate:</strong>
  <%= @platform.borrowedDate %>
</p>
<% if !@platform.location.nil? %>
  <p>
    <strong> Video: </strong>
    <%= @platform.location.video.name %><br>
  </p>

  <%= link_to 'Edit', edit_platform_path(@platform) %>
<%end%>

<%= link_to 'Edit', edit_platform_path(@platform) %>
<%= link_to 'Back', platforms_path() + "?pname=" + @platform.name %>
