<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @platform.name %>
</p>

<p>
  <strong>Borrowed:</strong>
  <%= @platform.borrowed %>
</p>

<p>
  <strong>Borroweddate:</strong>
  <%= @platform.borrowedDate %>
</p>
<p>
  <strong> Location: </strong>
  <%= @platform.location.description %><br>
</p>
<p>
  <strong> Video: </strong>
  <%= @platform.location.video.name %><br>
</p>

<%= link_to 'Edit', edit_platform_path(@platform) %> |
<%= link_to 'Back', platforms_path %>
