<%= bootstrap_form_for(@video) do |video| %>
<% if (@video.errors.any? || @video.location.errors.any?) %>
<div id="error_explanation">
    <div class="alert alert-danger" role="alert">
        <p id="notice">
            <h4><%= pluralize(@video.errors.count, "error") %>
                prohibited this movie from being saved</h4>
        </p>
    </div>
</div>
<% end %>

<%= video.hidden_field :videoType, :value => 1%>
<div class="field">
    <%= video.text_field :name %>
</div>
<div class="field">
    <%= video.check_box :seen %>
</div>
<div class="field">
    <%= video.number_field :length, placeholder: "Length in minutes", in: 1...500 %>
</div>
<div class="field">
    <%= video.file_field :cover %>
</div>
<div class="field">
    <%= video.date_select :release %>
</div>
<div class="field">
    <%= video.number_field :raiting, in: 1...100, placeholder: "between 1 and 100" %>
</div>
<div class="field">
    <%= video.text_area :summary %>
</div>
<div class="field">
    <%= video.number_field :ageRating %>
</div>
<div class="field">
    <%= video.text_area :note %>
</div>
<%= render 'layouts/videorelationfields', video: video, platforms: @video.location.platforms %>
<div class="actions">
    <%= video.submit %>
</div><br><br>
<% end %>
