<%= bootstrap_form_for(@episode) do |episode| %>
<%= bootstrap_form_for(@episode.video) do |video| %>
<% if (@episode.errors.any? || @episode.video.errors.any? || @episode.video.location.errors.any?) %>
<div id="error_explanation">
    <div class="alert alert-danger" role="alert">
        <p id="notice">
            <h4><%= pluralize(@episode.errors.count, "error") %>
                prohibited this episode from being saved</h4>
        </p>
    </div>
</div>
<% end %>

<div class="field">
    <h2><%=@episode.season.series.name.to_s() + " Season " +  @episode.season.number.to_s() %></h2><br>
    <%= episode.hidden_field :season, :value => @episode.season.id%>
</div>
<div class="field">
    <%= episode.number_field :episodeNumber, label: "Episode number", in: 1...100 %>
</div>
<div class="field">
    <%= video.text_field :name %>
</div>
<div class="field">
    <%= video.check_box :seen %>
</div>
<div class="field">
    <%= video.date_select :release %>
</div>
<div class="field">
    <%= video.number_field :length, placeholder: "Length in minutes", in: 1...500 %>
</div>
<div class="field">
    <%= video.number_field :raiting, in: 1...100, placeholder: "between 1 and 100" %>
</div>
<div class="field">
    <%= video.text_area :summary %>
</div>
<div class="field">
    <%= video.text_area :note %>
</div>
<h3>
    Location
</h3>
<%= render 'layouts/videorelationfields', video: video, platforms: @episode.video.location.platforms %>
<br>
<%= video.hidden_field :videoType, :value => 2%>
<div class="actions">
    <%= episode.submit %>
</div>
<br><br><br>
<% end %>
<% end %>
