<p id="notice"><%= notice %></p>
<div class="container">
<p>
  <strong>Series:</strong>
  <%= @episode.season.series.name %>
</p>
<p>
  <strong>Season Number:</strong>
  <%= @episode.season.number %>
</p>
<p>
  <strong>Episodenumber:</strong>
  <%= @episode.episodeNumber %>
</p>
<p>
  <strong>Name:</strong>
  <%= @video.name %>
</p>

<p>
  <strong>Seen:</strong>
  <% if @video.seen %>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  <%else %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  <% end %>
</p>

<p>
  <strong>Length:</strong>
  <%= @video.length %>
</p>

<p>
  <strong>Release Date:</strong>
  <%= @video.release %>
</p>

<p>
  <strong>Raiting:</strong>
  <%= @video.raiting %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @video.summary %>
</p>
<p>
  <strong>Note:</strong>
  <%= @video.note %>
</p>
<p>
  <strong> Actors:</strong>
  <% @video.actors.each do |f| %>
    <%= f.name %>
  <% end %>
</p>
<p>
  <strong> Location:</strong>
  <%= @video.location.description %>
</p>
<p>
    <strong> Platforms:</strong>
    <% @video.location.platforms.each do |f| %>
      <strong>Name:</strong>
      <%=f.name%><br>
      <strong>borrowed:</strong>
      <%=f.borrowed%><br>
      <strong>Borrowed since</strong>
      <%=f.borrowedDate%><br>
    <% end %>

<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', season_path(@episode.season.id) %>
</div>
