<p id="notice"><%= notice %></p>
<div class="container">
<p>
  <strong>Series:</strong>
  <%= @episode.season.series.name %>
</p>
<p>
  <strong>Season Number:</strong>
  <%= @episode.season.number %>
</p>
<p>
  <strong>Episodenumber:</strong>
  <%= @episode.episodeNumber %>
</p>

<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
</div>
