<%= bootstrap_form_for(@series) do |f| %>
<%= render 'layouts/errordiv', entity: @series, name:"series" %>

<div class="field">
    <%= f.text_field :name %>
</div>
<div class="field">
    <%= f.file_field :cover%>
    <br>
</div>
<div class="actions">
    <%= f.submit %><br><br>
</div>
<% end %>
