<%= bootstrap_form_for(@regisseur) do |f| %>
<%= render 'layouts/errordiv', entity: @regisseur, name:"regisseur" %>

<div class="field">
    <%= f.text_field :name %>
</div>
<div class="field">
    <%= f.file_field :cover %>
</div><br>
<div class="actions">
    <%= f.submit %>
</div><br><br>
<% end %>
