<p id="notice"><%= notice %></p>

<h1>Listing Regisseurs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cover</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regisseurs.each do |regisseur| %>
      <tr>
        <td><%= regisseur.name %></td>
        <td><%= regisseur.cover %></td>
        <td><%= link_to 'Show', regisseur %></td>
        <td><%= link_to 'Edit', edit_regisseur_path(regisseur) %></td>
        <td><%= link_to 'Destroy', regisseur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Regisseur', new_regisseur_path %>
