<%= form_for(@location) do |f| %>
<%= render 'layouts/errordiv', entity: @location, name:"location" %>

<div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
</div>
<div class="actions">
    <%= f.submit %>
</div>
<% end %>
